name: Build

on:
    push: ~
    pull_request: ~
    release:
        types: [created]
    schedule:
        -
            cron: "0 1 * * 6" # Run at 1am every Saturday
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ubuntu-latest

        name: "VERSION ${{ matrix.php }}${{ matrix.version }}"

        strategy:
            fail-fast: false
            matrix:
                php:
                    - "8.0"
                    - 8.1
                    - 8.2
                    - 8.3
                    - 8.4
                version:
                    - ''
                    - '-minimum'
                include:
                    -
                        php: "8.0"
                        version: ''
                        php_extra_extensions: 'soap'
                        php_extra_pecl_extensions: 'xmlrpc-1.0.0RC3 xdebug apcu'

                    -
                        php: "8.0"
                        version: '-minimum'
                        php_extra_extensions: ''
                        php_extra_pecl_extensions: ''

                    -
                        php: 8.1
                        version: ''
                        php_extra_extensions: 'soap'
                        php_extra_pecl_extensions: 'xmlrpc-1.0.0RC3 xdebug apcu'

                    -
                        php: 8.1
                        version: '-minimum'
                        php_extra_extensions: ''
                        php_extra_pecl_extensions: ''

                    -
                        php: 8.2
                        version: ''
                        php_extra_extensions: 'soap'
                        php_extra_pecl_extensions: 'xmlrpc-1.0.0RC3 xdebug apcu'

                    -
                        php: 8.2
                        version: '-minimum'
                        php_extra_extensions: ''
                        php_extra_pecl_extensions: ''

                    -
                        php: 8.3
                        version: ''
                        php_extra_extensions: 'soap'
                        php_extra_pecl_extensions: 'xmlrpc-1.0.0RC3 xdebug apcu'

                    -
                        php: 8.3
                        version: '-minimum'
                        php_extra_extensions: ''
                        php_extra_pecl_extensions: ''

                    -
                        php: 8.4
                        version: ''
                        php_extra_extensions: 'soap'
                        php_extra_pecl_extensions: 'xmlrpc-1.0.0RC3 xdebug apcu'

                    -
                        php: 8.4
                        version: '-minimum'
                        php_extra_extensions: ''
                        php_extra_pecl_extensions: ''

        env:
            DOCKER_TAG: "fluxaudio/php-fpm:${{ matrix.php }}${{ matrix.version }}"
            PHP_EXTRA_EXTENSIONS: ${{ matrix.php_extra_extensions }}
            PHP_EXTRA_PECL_EXTENSIONS: ${{ matrix.php_extra_pecl_extensions }}

        steps:

            -
                uses: actions/checkout@v2

            -
                name: Set up QEMU
                uses: docker/setup-qemu-action@v3
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3
            -
                name: Login to DockerHub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
            -
                name: Build and push
                id: docker_build
                uses: docker/build-push-action@v6
                with:
                    push: true
                    tags: ${{ env.DOCKER_TAG }}
                    build-args: |
                        PHP_VERSION=${{ matrix.php }}
                        PHP_EXTRA_EXTENSIONS=${{ env.PHP_EXTRA_EXTENSIONS }}
                        PHP_EXTRA_PECL_EXTENSIONS=${{ env.PHP_EXTRA_PECL_EXTENSIONS }}
            -
                name: Image digest
                run: echo ${{ steps.docker_build.outputs.digest }}
            -
                name: Display php version
                run: docker run --rm "$DOCKER_TAG" php -i

            -
                name: Display docker images
                run: docker images
